.flex{
    display: flex;
    flex-direction:row;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}
.flex-list{
    display: flex;
    flex-direction:row;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.list{
    display : inline-block;
    flex-direction:row;
    flex: 1 1;
    margin-right: 20px;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-weight: 1000;
    size : 14px;
    line-height: 30px;
    color:#737881;
}
.logo_Image{
    width:60px;
}

.top_Image{
    margin-top : 10px;
    display : inline-block;
}

.items-center {
    margin-top : 16px;
    align-items: center;
}
.flex-1 {
    flex: 1 1 0%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.justify-start {
    justify-content: flex-start;
}
.justify-right{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.top{
    margin:65px;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 0px;
}
nav{
    border-bottom: 1px solid rgb(156, 151, 151);
    display:block;
}
.right-0px{
    padding-right:0px;
}